In [1]:
import cx_Oracle
import pandas as pd

In [17]:



dsn = cx_Oracle.makedsn('localhost', 1521, service_name = 'orcl')

conn = cx_Oracle.connect(user = 'busan06', password = 'dbdb', dsn = dsn, encoding = 'utf-8')

cur = conn.cursor() 
sql= """SELECT A.mem_id, A.mem_name, sum(nvl(B.cart_qty,0))as qtyCnt
from member A left outer join cart B
        on(A.mem_id = B.cart_member
            and substr(B.cart_no, 0, 6) = '200504')
group by A.mem_id, A.mem_name
order by A.mem_id, A.mem_name"""

cur.execute(sql)
row = cur.fetchall()    
coldes = colname = cur.description
cur.close()
conn.close()

In [20]:
df =pd.DataFrame(row, columns=col)

TypeError: Index(...) must be called with a collection of some kind, "SELECT A.mem_id, A.mem_name, sum(nvl(B.cart_qty,0))as qtyCnt\nfrom member A left outer join cart B\n        on(A.mem_id = B.cart_member\n            and substr(B.cart_no, 0, 6) = '200504')\ngroup by A.mem_id, A.mem_name\norder by A.mem_id, A.mem_name" was passed

##  위에껄 함수로 만들어보기

In [23]:

def setDsn():
    return cx_Oracle.makedsn('localhost', 1521, service_name = 'orcl')
  

def setConn(dsn):
    return cx_Oracle.connect(user = 'busan06', password = 'dbdb', dsn = dsn, encoding = 'utf-8')
    
def setCursor(conn):
    return conn.cursor() 

    

def initracle():
    cursor.close()
    conn.close()

def getFetchAll():
    cursor.excute(sql)
    return cursor.fetchall()

def getColumn():
    colname = cursor.description

    col = []
    for i in cursor.descriptions:
        col.append(i[0])
    
    return col

def getDataFrame():
    return pd.DataFrame(row,columns =col)

def getMemAllGroup(sql):
    dsn = setDsn()
    conn = setConn(dsn)
    cursor = setCursor(conn)
    row = getFetchAll(sql,cursor)
    col = getColumn(cursor, conn)
    closeOracle(cursor,conn)
    return getDataFrame(row,col)

In [25]:
sql= """SELECT A.mem_id, A.mem_name, sum(nvl(B.cart_qty,0))as qtyCnt
from member A left outer join cart B
        on(A.mem_id = B.cart_member
            and substr(B.cart_no, 0, 6) = '200504')
group by A.mem_id, A.mem_name
order by A.mem_id, A.mem_name"""
sql

"SELECT A.mem_id, A.mem_name, sum(nvl(B.cart_qty,0))as qtyCnt\nfrom member A left outer join cart B\n        on(A.mem_id = B.cart_member\n            and substr(B.cart_no, 0, 6) = '200504')\ngroup by A.mem_id, A.mem_name\norder by A.mem_id, A.mem_name"

In [26]:
def getFetchAll():
    cursor.excute(sql)
    return cursor.fetchall()

In [27]:
def getMemAllGroup(sql):
    dsn = setDsn()
    conn = setConn(dsn)
    cursor = setCursor(conn)
    row = getFetchAll(sql,cursor)
    col = getColumn(cursor, conn)
    closeOracle(cursor,conn)
    return getDataFrame(row,col)

TypeError: getFetchAll() takes 0 positional arguments but 2 were given

In [ ]:
colname = cursor.description

In [28]:
def getColumn():
    colname = cursor.description

    col1 = []
    for i in coldes:
        col1.append(coldes[0])
    
    return col1

In [ ]:
def getDataFrame():
    return pd.DataFrame(row,col1)