In [149]:
import pandas as pd

In [150]:
dates = ['2020-01-01', '2020-03-01','2020-09-01']
dates

['2020-01-01', '2020-03-01', '2020-09-01']

In [158]:
ts_dates = pd.to_datetime(dates)
ts_dates

DatetimeIndex(['2020-01-01', '2020-03-01', '2020-09-01'], dtype='datetime64[ns]', freq=None)

In [159]:
ts_dates['new_Date'] = pd.to_datetime(ts_dates['Date'])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [160]:
# 데이터타입을 바꾸고 싶으면 리스트로 감싸거나 숫자를 문자로 바꾸면됌
ts_dates = pd.to_datetime([2022112])
ts_dates[0]

Timestamp('1970-01-01 00:00:00.002022112')

In [11]:
pr_day=ts_dates.to_period(freq='D')
pr_day

PeriodIndex(['2020-01-01', '2020-03-01', '2020-09-01'], dtype='period[D]')

In [114]:

pr_month = pr_day=ts_dates.to_period(freq='M')
pr_month

PeriodIndex(['2020-01', '2020-03', '2020-09'], dtype='period[M]')

In [13]:
pr_month = pr_day=ts_dates.to_period(freq='Y')
pr_month

PeriodIndex(['2020', '2020', '2020'], dtype='period[A-DEC]')

In [163]:
file_path = './data/timeseries.csv'
df = pd.read_csv(file_path)

In [164]:
df

         Date  Close  Start   High    Low  Volume
0  2015-07-02  10100  10850  10900  10000  137977
1  2016-06-29  10700  10550  10900   9990  170253
2  2017-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2019-06-26  10800  10900  11000  10700   63039

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      object
 1   Close   5 non-null      int64
 2   Start   5 non-null      int64
 3   High    5 non-null      int64
 4   Low     5 non-null      int64
 5   Volume  5 non-null      int64
dtypes: int64(5), object(1)
memory usage: 368.0+ bytes

In [166]:
df['new_Date'] = pd.to_datetime(df['Date']) 
df

         Date  Close  Start   High    Low  Volume   new_Date
0  2015-07-02  10100  10850  10900  10000  137977 2015-07-02
1  2016-06-29  10700  10550  10900   9990  170253 2016-06-29
2  2017-06-28  10400  10900  10950  10150  155769 2017-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2019-06-26  10800  10900  11000  10700   63039 2019-06-26

In [168]:
df['new_Date'][0]
df['new_date'].iloc[0]
df['new_date'].loc[0]

Timestamp('2015-07-02 00:00:00')

In [123]:
df = df.drop('Date',axis=1)

In [124]:
df.set_index('new_Date')

            Close  Start   High    Low  Volume
new_Date
2015-07-02  10100  10850  10900  10000  137977
2016-06-29  10700  10550  10900   9990  170253
2017-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2019-06-26  10800  10900  11000  10700   63039

In [46]:
dates = ['2020-01-01', '2020-03-01','2020-09-01']

In [47]:
ts_dates = pd.to_datetime(dates)
ts_dates

DatetimeIndex(['2020-01-01', '2020-03-01', '2020-09-01'], dtype='datetime64[ns]', freq=None)

In [54]:
timestamp_df = pd.date_range(start = '2020-01-01',
                             end = None,
                             periods = 6,
                             freq = 'Y',
                             tz = 'Asia/Seoul')
timestamp_df

DatetimeIndex(['2020-12-31 00:00:00+09:00', '2021-12-31 00:00:00+09:00',
               '2022-12-31 00:00:00+09:00', '2023-12-31 00:00:00+09:00',
               '2024-12-31 00:00:00+09:00', '2025-12-31 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='A-DEC')

In [58]:
pr_y =pd.period_range(start = '2020-01-01',
                             end = None,
                             periods = 3,
                             freq = '2Y', ## M을 사용하면 월추가 해서 1씩
                            )#  tz = 'Asia/Seoul')
pr_y

PeriodIndex(['2020', '2022', '2024'], dtype='period[2A-DEC]')

In [60]:
pr_h =pd.period_range(start = '2020-01-01',
                             end = None,
                             periods = 5,
                             freq = 'H', ## 분(M)은 MIN을 사용
                            )#  tz = 'Asia/Seoul')
pr_h

PeriodIndex(['2020-01-01 00:00', '2020-01-01 01:00', '2020-01-01 02:00',
             '2020-01-01 03:00', '2020-01-01 04:00'],
            dtype='period[H]')

In [62]:
no_date_df = df.copy()

In [ ]:
no_date_df.drop('Date')

In [73]:
date_df = df.copy()

In [134]:
newdt_df=df.copy()

In [139]:
newdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Close     5 non-null      int64
 1   Start     5 non-null      int64
 2   High      5 non-null      int64
 3   Low       5 non-null      int64
 4   Volume    5 non-null      int64
 5   new_Date  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(5)
memory usage: 368.0 bytes

In [154]:
newdt_df['new_Date'] = pd.to_datetime(df['Date'])

newdt_df.drop('Date',axis=1, inplace=True)

KeyError: 'Date'

In [74]:
date_df

         Date  Close  Start   High    Low  Volume
0  2015-07-02  10100  10850  10900  10000  137977
1  2016-06-29  10700  10550  10900   9990  170253
2  2017-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2019-06-26  10800  10900  11000  10700   63039

In [127]:
#날짜 같은 예시에 str형식을 뽑을때 str[인덱스 번호]하면됌
date_df['년도'] =date_df['Date'].str[0:4]
date_df['월'] =date_df['Date'].str[5:7]
date_df['일'] =date_df['Date'].str[8:10]

In [128]:
date_df

         Date  Close  Start   High    Low  Volume    년도   월   일
0  2015-07-02  10100  10850  10900  10000  137977  2015  07  02
1  2016-06-29  10700  10550  10900   9990  170253  2016  06  29
2  2017-06-28  10400  10900  10950  10150  155769  2017  06  28
3  2018-06-27  10900  10800  11050  10500  133548  2018  06  27
4  2019-06-26  10800  10900  11000  10700   63039  2019  06  26

In [170]:
newdt_df['new_Date'].dt.year[0:4]
# newdt_df['new_Date'].dt.month[5:7]          
# newdt_df['new_Date'].dt.day[8:10]

0    2015
1    2016
2    2017
3    2018
Name: new_Date, dtype: int64

In [171]:
df

         Date  Close  Start   High    Low  Volume   new_Date
0  2015-07-02  10100  10850  10900  10000  137977 2015-07-02
1  2016-06-29  10700  10550  10900   9990  170253 2016-06-29
2  2017-06-28  10400  10900  10950  10150  155769 2017-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2019-06-26  10800  10900  11000  10700   63039 2019-06-26

In [147]:
newdt_df['월'] = (newdt_df['new_Date'].dt.month.astype(str)).str.zfill(2)
newdt_df

   Close  Start   High    Low  Volume   new_Date   월
0  10100  10850  10900  10000  137977 2015-07-02  07
1  10700  10550  10900   9990  170253 2016-06-29  06
2  10400  10900  10950  10150  155769 2017-06-28  06
3  10900  10800  11050  10500  133548 2018-06-27  06
4  10800  10900  11000  10700   63039 2019-06-26  06