In [1]:
#판다스 시작하기

In [7]:
import pandas as pd

In [18]:
df = pd.read_csv('gapminder.tsv', sep='\t')

In [ ]:
df1 = pd.read_csv('ex2_지역별전기요금.csv',header=0,encoding='utf-8')

In [24]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1694  Zimbabwe    Africa  1962   52.358   4277736  527.272182
1695  Zimbabwe    Africa  1967   53.995   4995432  569.795071
1696  Zimbabwe    Africa  1972   55.635   5861135  799.362176
1697  Zimbabwe    Africa  1977   57.674   6642107  685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [26]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [27]:
print(df.shape)

(1704, 6)

In [28]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [29]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [31]:
country_df = df['country']
print(type(country_df))

print(country_df.tail())

<class 'pandas.core.series.Series'>
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [32]:
subset = df[['country','continent','year']]
print(type(subset))

<class 'pandas.core.frame.DataFrame'>

In [33]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007